@model List<MedicationViewModel>;
@{
    Layout = "DoctorsLayout";
}


<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Medication</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Register</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        @{ for (int i = 0; i < Model.Count; i++)
            {

                <div class="card">
                    <div class="card-header">
                        <div class="col-12" style=" float:left">
                            <h3 class="card-title">@Model[i].MedicationName</h3>
                        </div>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>Repeats left :  @Model[i].repeatsLeft/@Model[i].repeats</p>
                        <p>Quntity      :  @Model[i].Qty</p>
                        <p>Instruction  :  @Model[i].Instruction</p>
                        <h3>Active Ingredients</h3>
                        @{ for (int j = 0; j < Model[i].ActiveIngredients.Count; j++)
                            {
                                <p>@Model[i].ActiveIngredients[j].ActiveIngredient.ActiveIngredientName ............................. @Model[i].ActiveIngredients[j].Strength.TheStrength</p>
                            }

                        }

                    </div>
                    <!-- /.card-body -->
                </div>
            }
        }
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

@*@await Html.PartialAsync("_notificationPartial")*@

@await Html.PartialAsync("_notificationPartial")