@model AddPrescriptionViewModel;
@{
    Layout = "DoctorsLayout";
}



<!-- Content Header (Page header) -->
<section class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Medication Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <form  asp-controller="Dispense">
        <div class="card">
            <div class="card-header">

            </div>


            @{
                if (Model.Medications != null)
                {
                    for (int i = 0; i < Model.Medications.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.Medications[i].repeats" />
                        <input type="hidden" asp-for="@Model.Medications[i].Dispense" />
                        <input type="hidden" asp-for="@Model.Medications[i].LineID" />
                        <input type="hidden" asp-for="@Model.Medications[i].Qty" />
                        <input type="hidden" asp-for="@Model.Medications[i].repeatsLeft" />
                        <input type="hidden" asp-for="@Model.Medications[i].MedicationID" />
                       
                        <input type="hidden" asp-for="@Model.Medications[i].MedicationName" />
                        <input type="hidden" asp-for="@Model.Medications[i].Instruction" />


                    }
                }
            }
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="@Model.alert">Alert</label>
                    <textarea class="form-control" asp-for="alert" disabled cols="8" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Drreason">Doctor's Reason</label>
                    <textarea class="form-control" asp-for="Drreason" disabled cols="8" rows="4"></textarea>
                </div>
                <input type="hidden" asp-for="alert" />
                <div class="form-group">
                    <label asp-for="@Model.reason">Reason for ignoring alert</label>
                    <textarea class="form-control" asp-for="reason" cols="8" rows="4"></textarea>
                </div>
                <br />
                <fieldset>
                    <legend>Mediction</legend>

                    <ul>
                        @{if (Model.Medications != null)
                            {
                                for (int i = 0; i < Model.Medications.Count; i++)
                                {
                                    <li>@Model.Medications[i].MedicationName</li>
                                }
                            }

                        }
                    </ul>

                    <!--/.col -->

                </fieldset>





            </div>
            <!-- /.card-body -->
        </div>
        <button class="btn float-right btn-success" formmethod="post"  asp-action="SubmitAfterAlert" type="submit">submit</button>
        <button class="btn btn-danger" formmethod="get"  asp-action="AddPrescription" type="submit">Cancel</button>
    </form>
    <!-- /.card -->
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

@*@await Html.PartialAsync("_notificationPartial")*@

@await Html.PartialAsync("_notificationPartial")
<!-- /.content -->
