@model MedActive
@{
    ViewData["Title"] = Model != null ? "EditMedication" : "AddMedication";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<form asp-controller="admin" asp-action=@ViewData["Title"] method="post">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Medication</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Update Medication</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-body">
                        <input type="hidden" asp-for="ID" />
                        <div class="form-group">
                            <label asp-for="Medication.MedicationName">Medication Name</label>
                            <input asp-for="Medication.MedicationName" type="text" id="programName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Medication.ScheduleID ">Schedule</label>
                            <input required asp-for="Medication.ScheduleID " type="text" id="inputClientCompany" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Medication.FormID ">Dosage Form</label>
                            <div class="form-select">
                                <select required name="gender" id="gender" class="form-control">
                                    <option value="">   </option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Trans Female">Trans Female</option>
                                    <option value="Trans Male">Trans Male</option>
                                    <option value="Agender">Agender</option>
                                    <option value="Pangender">Pangender</option>
                                    <option value="Non-binary">Non-binary</option>
                                    <option value="Intersex">Intersex</option>
                                    <option value="Prefer not to say">Prefer not to say</option>
                                </select>
                                <span asp-validation-for="Medication.FormID" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Active Ingredient</label>
                            <div class="form-select">
                                <div class="col-md-6" style=" float:left">
                                    <fieldset>
                                        <legend>Active Ingredient</legend>
                                        <div class="form-group">

                                            @{
                                                if (Model.ActiveIngredients != null)
                                                {

                                                    foreach (ActiveIngredient active in Model.ActiveIngredients)
                                                    {

                                                        <p>* @active.ActiveIngredientName </p>

                                                    }
                                                }
                                            }
                                        </div>
                                        <!--/.form-group-->
                                    </fieldset>
                                </div>
                                <!--/.col -->





                                @{
                                    if (Model.ActiveIngredients != null)
                                    {
                                        int i = 0;
                                        foreach (ActiveIngredient med in Model.ActiveIngredients)
                                        {

                                            <input type="hidden" asp-for="@Model.ActiveIngredients[i].Deleted" />
                                            <input type="hidden" asp-for="@Model.ActiveIngredients[i].ActiveIngredientName" />
                                            <input type="hidden" asp-for="@Model.ActiveIngredients[i].ID" />


                                            i++;
                                        }
                                    }
                                }

                                <select class="form-control " asp-for="ID" asp-items="@(new SelectList(ViewBag.ActiveIngredients,"ID","ActiveIngredientName"))">
                                </select>
                                <button type="submit" formmethod="get" asp-action="ActiveIngredientFilter" class="btn btn-primary ">Add</button>
                                <button type="submit" formmethod="post" asp-action="AddMedication" class="btn btn-primary ">Submit</button>
                            </div>
                        </div>



                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info btn-sm" asp-controller="admin" asp-action="getallmedication">
                    <i class="fas btn-default">
                    </i>
                    Back
                </a>
                <input type="submit" value="Update Medication" class="btn btn-success float-right">
            </div>
        </div>
    </section>

</form>
