@model Project.Models.MedPractice
@{
    ViewData["Title"] = "ViewPractice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Practice's Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard"> Home</a></li>
                    <li class="breadcrumb-item active">Practice's Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section><!-- /.container-fluid -->
<!--</section>-->
<!-- Main content -->
<section class="content" style=" padding-left: 16px; padding-right: 16px;">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div cla3ss="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="PracticeName">Practice Name:</label><br />
                        @Model.PracticeName
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressLine1">Physical Address: </label><br />
                        @Model.AddressLine1<br />
                        @Model.AddressLine2<br />
                        @Model.CityID<br />
                        @Model.SurburbID<br />
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">


                    <div class="form-group">
                        <label asp-for="PracticeNo">Practice Number:</label><br />
                        @Model.PracticeNo
                    </div>
                    <div class="form-group">
                        <br />
                        <label asp-for="Email">Email Adress: </label><br />
                        @Model.Email
                    </div>
                    <div class="form-group">
                        <br />
                        <label asp-for="ContactNo">Phone Number: </label><br />
                        @Model.ContactNo
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <a class="btn btn-info btn-sm" asp-controller="admin" asp-action="getallpractice">
                <i class="fas btn-default">
                </i>
                Back
            </a>
        </div>
    </div>
</section>
